p {
    color: rgb(105, 35, 185);
}

a {
    color: rgb(179, 255, 0);
}
body {
    font-size: 14px;
    color: rgb(128, 0, 90);
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}
h1 {
    color: rgb(255, 208, 251);
    background-color: rgb(61, 61, 61);
}